<div class="row">
  <% current_user.bikes.each do |bike| %>
    <div class="col-md-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h2><%= link_to bike.name.titleize, bike %></h2>
            <div class="well">
              <% if bike.avatar.exists? != nil %>
              <%= image_tag bike.avatar.url(:medium), class:"img-responsive center-block" %>
              <% end %>
              <h3>$<%= bike.price %></h3>
              <p><%= bike.description %></p>
              <h4><%= link_to edit_bike_path(bike) do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <%= link_to bike, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
            </div>
        </div>
      </div>
    </div> 
  <% end %>  
</div>
