<div class="row">
  <div class="col-sm-6 col-md-3">
    <%= form_for(@review) do |f| %>
    <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>    

  <div class="form-group">
    <%= f.label :title, class:"sr-only" %>
    <%= f.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>
  <div class="form-group">
    <%= f.label :review_entry, class:"sr-only" %>
    <%= f.text_area :review_entry, class:"form-control", placeholder:"Review" %>
  </div>
  <div class="form-group">
    <%= f.select :rating, ["1","2","3","4","5"], 
    {:include_blank => 'Rating'}, class:"form-control", placeholder:"Rating" %>
  </div>
  <div class="form-group cant-see-me">
    <%= f.number_field :bike_id, value: @bike.id %>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="actions form-group">
    <%= f.submit class:"btn btn-default" %>
  </div>

<% end %>